.board {
  margin-bottom: 15px;
  height: 45px;
  width: 100%;
  border: 1px solid #d4d4d5;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 45px;
}

.tableu {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #d4d4d5;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 45px;
}

.block {
  margin-bottom: 15px;
  height: 45px;
  width: 100%;
  border: 2px solid #d4d4d5;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 45px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 200px;
}

.card-title {
    font-size: 1.0em;
    font-weight: 700;
    line-height: 1.0em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
	height: 60px;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: 18px;
	left: 20px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 2px solid #e6ffff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}